{% extends 'base.html' %}

{% block title %}
  Courses
{% endblock %}

{% block content %}

<h1>Courses</h1>

{% if courses %}
  <div class="d-flex flex-wrap">
    {% for course in courses %}
    <div class="media" style="margin: 20px; width: calc(25% - 40px);">
        <div class="media-body">
          <h5 class="m-0">{{ course.title}}</h5>
          <p class="lead"></p>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
    </div>
    {% endfor %}
  </div>
{% else %}
  <p>There don't appear to be any courses?!</p>
{% endif %}

{% endblock %}